.menu {
  height: 100dvh;
  background-color: rgb(6, 10, 27);
  position: fixed;
  right: 0;
  top: 0;
  color: white;

  .body {
    height: 100%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .nav {
      display: flex;
      flex-direction: column;
      font-size: 54px;
      gap: 12px;
      margin-top: 5px;
      margin-bottom: 30px;

      a {
        font-weight: 300;
      }
    }
  }
}
