@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  list-style: none;
  font-family: "poppins", Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  font-size: 17px;
}

:root {
  --primary-text-color: #fff;
}

::-webkit-scrollbar {
  width: 0.7rem;
}

::-webkit-scrollbar-thumb {
  background-color: #8e8e8ec0;
  border-radius: 0.4rem;
}

::-webkit-scrollbar-track {
  background-color: #1b1b1b;
}

.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.8rem;
  background-color: #001b94;
  z-index: 3;
}

.logo h1 a {
  color: var(--primary-text-color);
  font-size: 1rem;
  font-weight: 200;
  transition: 0.3s ease-in-out;
}

.logo h1 a:hover {
  color: #efefef;
}

.nav-item {
  display: inline-block;
  margin-left: 2.5rem;
}

.nav-item a {
  position: relative;
  color: var(--primary-text-color);
  transition: 0.3s ease-in-out;
}

.nav-item a::after {
  content: "";
  height: 0.1rem;
  width: 0%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #eee;
  transition: 0.3s ease-in-out;
}

.nav-item a:hover::after {
  width: 100%;
}

.btn_mobile-list {
  color: var(--primary-text-color);
  display: none;
	position: relative;
}

.icon,
.icon:before,
.icon:after {
  background-color: #ffffff;
  border-radius: 2px;
  content: "";
  display: block;
  height: 2px;
  width: 1.5rem;
  transition: all 0.5s ease-in-out;
}

.icon:before {
  position: absolute;
  top: -10px;
  width: 100%;
}

.icon:after {
	position: absolute;
  top: 10px;
  width: 100%;
}

.open .icon {
  background-color: transparent;
}

.open .icon:before {
  transform: rotate(45deg);
  top: 0;
}

.open .icon:after {
  transform: rotate(-405deg);
  top: 0;
}

.mobile_nav-list {
  display: none;
  color: var(--primary-text-color);
}

.container {
  display: flex;
  align-items: center;
}

@media (max-width: 803px) {
  .navbar {
    justify-content: space-between;
  }

  .nav_list {
    display: none;
  }

  .btn_mobile-list {
    display: block;
    background-color: transparent;
    cursor: pointer;
  }

  .mobile_nav-list {
    display: block;
    position: fixed;
    right: -100%;
    margin-top: 3.1rem;
    padding: 7rem 0;
    height: 100vh;
    width: 100%;
    z-index: 3;
    text-align: center;
    transition: 0.3s ease-in-out;
  }

  .nav-item {
    position: relative;
    color: var(--primary-text-color);
    font-size: 2rem;
    text-transform: uppercase;
    transition: 0.2s ease-in-out;
    margin-top: 2rem;
    margin-left: 0;
  }

  .nav-item::after {
    content: "";
    height: 0.1rem;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #eee;
    transition: 0.2s ease-in-out;
  }

  .nav-item:hover::after {
    width: 100%;
  }

  .show {
    position: fixed;
    display: block;
    background-color: #181818;
    right: 0%;
  }
}

@media (max-width: 374px) {
  .nav-item {
    font-size: 1.5rem;
  }
}

footer {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem;
  background-color: #021466;
}

footer p {
  cursor: default;
  font-weight: 200;
}

footer a {
  font-weight: 500;
  transition: 0.3s ease-in-out;
}

footer a,
p {
  color: var(--primary-text-color);
}

footer a:hover {
  color: #97d0ff;
}

@media (max-width: 495px) {
  footer a,
  p {
    font-size: 0.8rem;
  }
}

@media (max-width: 345px) {
  footer a,
  p {
    font-size: 0.6rem;
  }
}

@media (max-width: 265px) {
  footer a,
  p {
    font-size: 0.4rem;
  }
}
