@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
    font-size: 17px;
}

/*--Scrollbar--*/

::-webkit-scrollbar {
   width: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: #8e8e8e;
    border-radius: 5rem;
}

::-webkit-scrollbar-track {
    background-color: #1b1b1b;
}

header {
    background-color: #1f1f1f;
}

/*--Navbar--*/

.navbar {
    width: 100%;
    position: fixed;
    background-color: #001b94;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.7rem;
}

.owner a {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}

.nav_list li {
    list-style: none;
    display: inline-block;
    margin-left: 2.5rem;
}

.nav_list li a {
    color: #fff;
    transition: 0.3s ease-in-out;
}

.nav_list li a:hover {
    color: #eee;
    box-shadow: 0 1px 0 0 #fff;
}

/*--Menu-Mobile--*/

.btn_list {
    display: none;
}

.btn_list button {
    color: #fff;
}

.mobile_nav_list {
    display: none;
    list-style: none;
}

.mobile_nav_list a {
    color: #fff;
}

@media (max-width: 803px) {

.navbar {     
    justify-content: space-between;
}

.nav_list {
    display: none;
}

.btn_list {
    display: block;
}

.btn_list button {
    background-color: transparent;
    cursor: pointer;
}

.mobile_nav_list ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 3rem;
}

.mobile_nav_list .nav_item {
    display: block;
    padding-top: 4rem;
}

.show {
    display: block;
    position: fixed;
    background-color: #001b94;
}

}

/*--Footer--*/

footer {
    height: 7vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #021466;
    color: white;
}

/*--Responsive--*/

@media (max-width: 1115px) {

/*--About-Responsive--*/

.about p {
    font-size: 1.05rem;
}

}

@media (max-width: 1061px) {

/*--About-Responsive--*/

.about {
    padding: 3rem;
}

}

@media (max-width: 975px) {
.about p {
    font-size: 1rem;
}

}

@media (max-width: 909px) {

/*--Navbar-Responsive--*/

.navbar {
    width: 100%;
}
 
/*--Home-Responsive--*/

.home_animated_image {
    display: none;
}

.home_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_left {
    height: 100vh;
    width: 100%;
}

.home_left > h1 {
    text-align: center;
}

.home_left > h2 {
    text-align: center;
}

.home_right {
    display: none;
}

/*--About-Responsive--*/

.about {
    padding: 0.6rem;
    display: flex;
    align-items: center;
}

.about_left {
    display: none;
}

.about_right {
    width: 100%;
    height: 100%;
}

.about_title {
    font-size: 1.5rem;
}

.about_container p {
    font-size: 1.3rem;
}

/*--Projects-Responsive--*/

.projects_content {
    grid-template-columns: 1fr 1fr;
    gap: 0.2rem;
}

.projects_data {
    width: 9rem;    
}

}

@media (max-width: 712px) {

.projects_container {
    grid-template-columns: 1fr 1fr;
}

.about p {
    font-size: 1rem;
}

}

@media (max-width: 495px) {
    
    .navbar {
        width: 100%;
    }

/*--Home--*/

.home_left h1 {
    font-size: 1.6rem;
    font-weight: 500;
}

.home_left h2 {
    font-size: 1rem;
    font-weight: 500;
}

.home_left .name_title {
    font-size: 1.6rem;
}

.social_media {
    width: 17%;
}

/*--Skills--*/

.skills {
    padding: 7rem;
}

.skills h1 {
    font-size: 2rem;  
}

.skills_container {
    height: 40%;
}

.skills_container_2 {
    height: 40%;
}

.skills_images {
    height: 5.5rem;
    width: 6rem;
    cursor: default;
    transition: .3s;
}

.skills_images:hover {
    padding: 0.6rem;
}

/*--Projects--*/


.projects {
    height: 100vh;
    width: 100%;
    background-color: #1f1f1f;
    color: #fff;
    padding: 1.7rem;
}

.projects h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.6rem; 
}

.projects_container {
    gap: 1rem;
}

.projects_cards {
  height: 60%;  
}

/*--Footer--*/

footer span {
    font-size: 0.8rem;
}
}