.home {
  height: 100vh;
  width: 100%;
  padding: 2rem 0;
  background-color: #1b1b1b;
  color: #fff;
}

.home_container {
  display: flex;
}

.home_left {
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-title {
  font-size: 2rem;
}

.name-title {
  font-size: 2.5rem;
}

.home_left h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.profession-title {
  font-size: 1.5rem;
  color: #6672f7;
}

.cv {
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  background-color: #001b94;
  box-shadow: 0px 10px 40px -12px #001b94;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 0.4rem;
  transition: 0.5s ease;
}

.cv:hover {
  background-color: #01156e;
  color: #dfdede;
  box-shadow: 0px 10px 40px -12px #01156e;
}

.social-media {
  display: flex;
  justify-content: space-evenly;
  width: 5rem;
}

.social-media a {
  color: #fff;
  box-shadow: 0px 10px 40px -12px #fff;
}

.social-media a i {
  font-size: 1.4rem;
  transition: 0.3s ease;
}

.social-media a i:hover {
  color: #6672f7;
}

.home_right {
  height: 100vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_animated_image {
  height: 72%;
  width: 72%;
  margin-bottom: 7.2rem;
  transition: 0.5s;
}

.home_animated_image:hover {
  scale: 1.1;
}

@media (max-width: 1115px) {
  .welcome-title {
    font-size: 1.5rem;
  }

  .name-title {
    font-size: 2rem;
  }

  .home_left h2 {
    font-size: 1.5rem;
  }

  .profession-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 991px) {
  .home_right {
    display: none;
  }

  .home_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home_left {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .name-title {
    font-size: 1.8rem;
    text-align: center;
  }

  .home_left h2 {
    font-size: 1.4rem;
    text-align: center;
  }

  .profession-title {
    font-size: 1.2rem;
  }
}
