.projects {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  color: #fff;
  padding: 4rem 4rem;
}

.projects_container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
}

.project-card {
  position: relative;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #3c3c3c4b;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}

.project-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  width: 100%;
  height: 20%;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: default;
  z-index: 2;
  background-color: #303030b1;
  transition: 0.3s ease-in-out;
}

.project-card:hover .project-title {
  opacity: 1;
  color: #fff;
  background: none;
  transform: translateY(-0.1rem);
}

.project-image {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  z-index: 0;
  transition: 0.4s;
}

.project-card:hover .project-image {
  opacity: 0;
  scale: 0;
}

.project-tech {
  font-size: 0;
  visibility: hidden;
  opacity: 0;
  text-transform: uppercase;
  color: #3c5df2;
  cursor: default;
  z-index: 2;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.project-card:hover .project-tech {
  opacity: 1;
  visibility: visible;
  transform: translateY(0.1rem);
  font-size: 0.82rem;
}

.project_sources {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  z-index: 2;
}

.project_sources a {
  font-size: 0;
  visibility: hidden;
  opacity: 0;
  color: #fff;
  cursor: pointer;
  z-index: 2;
  transition: 0.3s ease-in-out;
}

.project_sources a:hover {
  color: #3c5df2;
}

.project-card:hover .project_sources a {
  opacity: 1;
  visibility: visible;
  transform: translateY(1rem);
  font-size: 0.82rem;
}

@media (max-width: 868px) {
  .projects {
    padding: 1rem 0.5rem;
  }

  .projects_container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .project-card {
    height: 220px;
  }
}
